<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover,cobertura,lcov,teamcity,json</Format>
          <Exclude>[*]DecVCPlat.*.Program,[*]DecVCPlat.*.Migrations.*,[*]DecVCPlat.*.Extensions.*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/obj/**,**/bin/**,**/wwwroot/**</ExcludeByFile>
          <IncludeDirectory>../src/</IncludeDirectory>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>true</DeterministicReport>
          <ThresholdType>line,branch,method</ThresholdType>
          <ThresholdStat>minimum</ThresholdStat>
          <Threshold>80,70,80</Threshold>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
